.containerContato {
    width: 100%;
    height: 500px;
    margin-top: 260px;
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerContatoFilho {
    background-color: #FFFF;
    border-radius: 8px;
    /* width: 1200px; */
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 50%;
    height: 100%;
    background-color: red;
}

.inputNome {
    height: 60px;
}

.inputMensagem {
    height: 300px;
}

.containerForm {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* padding: 24px; */
    /* padding: 12px; */
}

.inputEmail {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.email {
    width: 45%;
    height: 24px;
    border-radius: 4px;
    padding: 4px;
    border: solid 2px var(--preto);
}

.inputTextArea {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.area {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding: 12px;
    border: solid 2px var(--preto);
}

.inputBtn {
    width: 90%;
}

.btnEmail {
    width: 140px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFFF;
    color: var(--preto);
    background-color: #FFFF;
    border: solid 2px var(--preto);
}

.tituloCurriculo {
    padding: 0px 30px;
}

/* .inputBtn {
    width: 100%;
    display: flex;
    background-color: red;
} */

@media(min-width: 1900px) {
    .containerContato {
        margin-top: 480px;
    }
}

@media(max-width: 768px) {

    .containerContato {
        margin-top: 160px;
    }

    .containerContatoFilho {
        width: 90%;
    }

    .btnEmail {
        width: 100%;
    }

    .tituloCurriculo {
        padding: 0px 20px;
    }
}

@media(max-width: 380px) {
    .containerContato {
        margin-top: 200px;
    }
}