.containerCard {
    width: 400px;
    height: 400px;
    background-color: #FFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    /* height: 30%; */
}

.conteudo {
    height: 30%;
}

.tecnologia {
    height: 30%;
}