.containerCard {
    /* width: 440px; */
    width: 25%;
    max-width: 400px;
    /* height: 440px; */
    height: 300px;
    background-color: #FFFF;
    border-radius: 8px;
    padding: 6px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.containerCardFilho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    
}

.titulo {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    height: 40%;
    text-align: center;
}

.tecnologia {
    height: 15%;
    width: 100%;
}

.iconLink {
    color: var(--preto);    
}

.iconLink:hover {
    cursor: pointer;
    color: var(--cinza_claro)
}

@media(min-width:2500px) {
    .containerCard {
        width: 400px;
    }
}


@media(min-width: 1900px) and (max-width: 2200px) {
    .containerCard {
        width: 50%;
    }

    .conteudo {
        font-size: 20px;
    }
}

@media(min-width:768px) and (max-width: 900px) {
    .containerProjeto {
        gap: 40px;
    }
    
    .containerCard {
        width: 27%;
    }
}

@media(max-width: 768px) {
    .containerCard {
        width: 90%;
    }
}