.containerCard {
    width: 440px;
    /* height: 440px; */
    height: 300px;
    background-color: #FFFF;
    border-radius: 8px;
    padding: 6px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.containerCardFilho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    
}

.titulo {
    /*height: 30%;*/
}

.conteudo {
    height: 30%;
}

.tecnologia {
    height: 30%;
    width: 100%;
}