.containerCurriculo {
    width: 90%;
    height: 860px;
    background-color: #FFFF;
    color: var(--preto);
    margin-left: 80px;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
}

.conteudo {
    margin: 0;
    padding: 0;
}

.buttonCv {
    margin-top: 20px;
}

.habilidades {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 768px) {
    .containerCurriculo {
        margin-left: 0px;
        width: 100%;
        height: 1240px;
        /* padding: 0px 4px; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    
    .containerFilho {
        width: 90%;
        padding: 0px 8px;
    }

    .conteudo {
        font-size: 16px;
    }

    .buttonCv {
        margin: 0;
    }

}