.containerCurriculo {
    width: 90%;
    height: 860px;
    background-color: #FFFF;
    color: var(--preto);
    margin-left: 80px;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
}

.conteudo {
    margin: 0;
    padding: 0;
}

/* .buttonCv {
    margin-top: 20px;
    border: solid 1px var(--preto);
    padding: 4px;
    border-radius: 4px;
    background-color: #f7f0f000;
    background-color: #f7f0f000;
} */

/* .buttonCv a {
    color: var(--preto)
} */

.iconeDownload {
    width: 32px;
    height: 32px;
    color: var(--preto);
}

.habilidades {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.tituloCurriculo {
    font-size: 32px;
    font-weight: 600;
}

@media(min-width: 1900px) {
   .conteudo {
    font-size: 24px;
   }
}


@media (max-width: 768px) {
    .containerCurriculo {
        margin-left: 0px;
        width: 100%;
        height: 1240px;
        /* padding: 0px 4px; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    
    .containerFilho {
        width: 90%;
        padding: 0px 8px;
    }

    .conteudo {
        font-size: 16px;
    }

    .iconeDownload {
        width: 24px;
        height: 24px;
    }

    .tituloCurriculo {
        padding: 0px 8px;
        font-size: 36px;
        font-weight: 600;
    }

    /* .buttonCv {
        margin: 0;
    } */

}