.Apresentacao {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    background-color: #FFFF;
}

.sobre {
    /* padding: 20px; */
    margin-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex; 
    align-items:center; 
    font-size: 64px; 
    font-weight: 600; 
    height: 140px;
}

.texto {
    margin: 0px;
    max-width: 800px;
    font-size: 32px; 
}

.avatar {
    height: 500px;
    width: 500px;
}

.containerTexto {
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.tag {
    width: 200px;
}

@media(min-width: 2500px) {
    .texto {
       margin: 0px;
       max-width: 1100px;
    }
}

@media(min-width: 1900px) {
    .texto {
        margin-left: -150px;
    }
}

@media(min-width:768px) and (max-width: 900px) {
    .avatar {
        height: 450px;
        width: 350px;
    }

    .titulo {
        font-size: 32px;
    }

    .tag {
        width: 120px;
    }
}

@media (max-width: 768px) {

.avatar {
    height: 400px;
    width: 100%;
}
 
.Apresentacao {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
    background-color: #FFFF;
    margin-top: 40px;
}

.sobre {
    margin-left: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex; 
    align-items:center; 
    font-size: 32px; 
    font-weight: 600; 
    height: 140px;
}

.texto {
    margin: 0px;
    max-width: 800px;
    font-size:16px; 
}

.containerTexto{
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.tag {
    width: 80px;
}

}