.Apresentacao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: #FFFF;
}

.sobre {
    /* padding: 20px; */
    margin-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}