.containerProjeto {
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 80px;
    /* margin-top: 80px; */
    margin: 40px 0px 40px 0px;
}

.listaTecnologias {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
}

.listaTecnologias li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconesTecnologias {
    width: 24px;
    height: 24px;
}

@media(max-width:768px) {
    .containerProjeto {
        display: block;
        /* align-items: center;
        justify-content: center;
        flex-direction: column; */
        height: 460px;
        /* margin-bottom: 40px; */
        margin: 0px;
        z-index: 10000000;
    }

    /* .meuSwiper {
        display: flex !important;
        justify-content: center !important;
    } */
    
    :global(.swiper-wrapper .swiper-slide) {
        /* display: flex;
        justify-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    :global(.swiper-button-prev svg),
    :global(.swiper-button-next svg) { 
        height: 0px;
    }

    :global(.swiper-pagination-clickable .swiper-pagination-bullet) {
        background-color: white;
        cursor: pointer;
    }
}