.containerProjeto {
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 80px;
    /* margin-top: 80px; */
    margin: 40px 0px 40px 0px;
}

.projetos {
    height: 460px;
    background-color: black;
    margin-bottom: 40px;
}

.listaTecnologias {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
}

.listaTecnologias li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconesTecnologias {
    width: 24px;
    height: 24px;
}

.tituloProjeto {
    text-align:center; 
    color:white; 
    margin:24px 0px 24px;
    font-size: 24px;
    font-weight: 600;
}

@media(min-width:2500px) {
    .containerProjeto {
        height: 720px;
        align-items: center;
    }
}

@media(min-width:768px) and (max-width: 900px) {
   .containerProjeto {
    gap: 40px;
   }
}

@media(max-width:768px) {
    
    .containerProjeto {
        display: block;
        /* align-items: center;
        justify-content: center;
        flex-direction: column; */
        height: 460px;
        /* margin-bottom: 40px; */
        margin: 0px;
    }
    
    .tituloProjeto {
        text-align:center; 
        color:white; 
        margin:24px 0px 24px 0px; 
        font-weight:600;
        font-size: 32px;
    }

    /* .meuSwiper {
        display: flex !important;
        justify-content: center !important;
    } */
    
    :global(.swiper-wrapper .swiper-slide) {
        /* display: flex;
        justify-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    :global(.swiper-button-prev svg),
    :global(.swiper-button-next svg) { 
        height: 0px;
    }

    :global(.swiper-pagination-clickable .swiper-pagination-bullet) {
        background-color: white;
        cursor: pointer;
    }
}