.containerProjeto {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
}

.listaTecnologias {
    width: 100%;
}