.header {
    margin: 20px 80px 20px 80px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header ul li:hover {
    cursor: pointer;
    color: var(--cinza_claro);
    scale: calc(1.1);
}

.containerIcone {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.containerIcone a {
   color: #FFFF;
}


.icones {
    width: 40px;
    height: 40px;
}

.icones:hover{
    scale: calc(1.2);
}