.header {
    margin: 20px 0px 20px 20px;
    padding: 20px;
    font-size: 20px;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
}

ul li:hover {
    cursor: pointer;
    color: var(--cinza_claro);
}