.containerHeaderMobile {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0px;
  background-color: var(--preto);
  display: flex;
  align-items: center;
  z-index: 100;
}

.modal {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  /* border: #FFFF solid 1px;
  border-radius: 4px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.linhas {
  width: 40px;
  height: 1px;
  background-color: #FFFF;
}

.iconesMobile {
  width: 40px;
  height: 40px;
}

.containerIconesMobile {
  width: 50%;
  display: flex;
  justify-content: end;
  color: #FFFF;
  margin-right: 20px;
  gap: 24px;
}

.containerIconesMobile a {
  color: #FFFF
}

.containerModal {
  width: 50%;
  margin-left: 20px;
  color: #FFFF;
}



.containerMyModal {
  width: 140px;
  height: 400px;
  position: fixed;
  top: 30px;
  background-color: var(--cinza_claro);
  display: none;
}

.containerMyModalOpen {
  width: 140px;
  height: 320px;
  background-color: var(--cinza_claro);
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 4px;
}

.iconClose {
  display: flex; 
  justify-content: flex-end; 
  margin:14px 6px 14px 0px;
}













