.containerHeaderMobile {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
}

.modal {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  /* border: #FFFF solid 1px;
  border-radius: 4px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.linhas {
  width: 40px;
  height: 1px;
  background-color: #FFFF;
}

.iconesMobile {
  width: 40px;
  height: 40px;
}

.containerIconesMobile {
  width: 50%;
  display: flex;
  justify-content: end;
  color: #FFFF;
  margin-right: 20px;
  gap: 24px;
}

.containerIconesMobile a {
  color: #FFFF
}

.containerModal {
  width: 50%;
}